<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/OIP.lJTUp7MaLPj8JFhqyoY-gQHaHa?w=514&h=514&rs=1&pid=ImgDetMain" alt="" />
  </div>

  <div class="big-card__span">
    <span>08 Junho, 2024</span>
  </div>

  <div class="big-card__title">
    <a href="/">
      <h1>
        <i>🔗</i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
        corrupti
      </h1>
    </a>
  </div>

  <div class="big-card__description">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At sequi, totam
      vero numquam explicabo quibusdam? Possimus, quisquam optio atque rerum
      quidem repudiandae, minima, ea praesentium sit temporibus placeat magnam
      incidunt.
    </p>
  </div>
</div>
