<div class="container__small-card">
  <div class="small-card__photo">
    <img src="https://th.bing.com/th/id/OIP.KneaWj6HRkC8rKmQgxlSagAAAA?rs=1&pid=ImgDetMain" />
  </div>

  <div class="small-card__content">
    <span>Data x, ano x</span>
    <h1>
      <a href="/">Angular 18</a>
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat
      molestiae inventore, doloribus, iste deserunt doloremque eius ad atque
      voluptates minima eum tenetur ab nostrum ratione maxime adipisci
      obcaecati! Error!
    </p>
  </div>
</div>
