<menu-bar></menu-bar>
<menu-title></menu-title>

<div class="container__articles">
  <div class="articles__main">
    <big-card
      photoCover="/images/photo1.png"
      contentSpan="08 de Junho de 2024"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,"
      cardDescription="Nullam rhoncus urna ligula, consectetur dapibus velit dictum a. Praesent urna leo, elementum vel arcu vel, suscipit dictum tortor. In hac habitasse platea dictumst. Donec fringilla ipsum in libero placerat mattis. Fusce cursus vitae dui vitae hendrerit. Pellentesque dapibus dolor sit amet diam viverra, et eleifend massa scelerisque. Ut lacinia condimentum neque nec vestibulum."
    >
    </big-card>

    <big-card
      photoCover="/images/photo1.png"
      contentSpan="xxxxxx"
      cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,"
      cardDescription="Nullam rhoncus urna ligula, consectetur dapibus velit dictum a. Praesent urna leo, elementum vel arcu vel, suscipit dictum tortor. In hac habitasse platea dictumst. Donec fringilla ipsum in libero placerat mattis. Fusce cursus vitae dui vitae hendrerit. Pellentesque dapibus dolor sit amet diam viverra, et eleifend massa scelerisque. Ut lacinia condimentum neque nec vestibulum."
    >
    </big-card>
  </div>

  <div class="articles__others">
    <small-card
      photoCover="/images/photo1.png"
      contentSpan="08 de Junho de 2024"
      cardTitle="Angular 18"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    ></small-card>

    <small-card
      photoCover="/images/photo1.png"
      contentSpan="07 de Junho de 2024"
      cardTitle="Angular 17"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    ></small-card>

    <small-card
      photoCover="/images/photo1.png"
      contentSpan="06 de Junho de 2024"
      cardTitle="Nova versão do Angular"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    >
    </small-card>

    <small-card
      photoCover="/images/photo1.png"
      contentSpan="06 de Junho de 2024"
      cardTitle="Nova versão do Angular"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    >
    </small-card>

    <small-card
      photoCover="/images/photo1.png"
      contentSpan="06 de Junho de 2024"
      cardTitle="Nova versão do Angular"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    >
    </small-card>

    <small-card
      photoCover="/images/photo1.png"
      contentSpan="06 de Junho de 2024"
      cardTitle="Nova versão do Angular"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat molestiae inventore, doloribus, iste deserunt doloremque eius ad atque"
    >
    </small-card>
  </div>
</div>
