<menu-bar></menu-bar>
<menu-title></menu-title>

<div class="container__articles">
  <div class="articles__main">
    <big-card
    cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,"

    cardDescription="Nullam rhoncus urna ligula, consectetur dapibus velit dictum a. Praesent urna leo, elementum vel arcu vel, suscipit dictum tortor. In hac habitasse platea dictumst. Donec fringilla ipsum in libero placerat mattis. Fusce cursus vitae dui vitae hendrerit. Pellentesque dapibus dolor sit amet diam viverra, et eleifend massa scelerisque. Ut lacinia condimentum neque nec vestibulum."

    photoCover="/images/photo1.png"
    >
    </big-card>
  </div>

  <div class="articles__others">
    <small-card></small-card>
    <small-card></small-card>
    <small-card></small-card>
  </div>
</div>
